.header {
  background-color: #f4f2e9;
  height: 100px;
  display: flex;
  justify-content: space-between;
}

.header-login {
  background-color: #32362d;
  height: 100px;
  display: flex;
  justify-content: space-between;
}

#logo {
  display: flex;
  align-items: center;
  padding-left: 50px;
  font-size: 45px;
}

#logo-login {
  display: flex;
  align-items: center;
  padding-left: 50px;
  font-size: 45px;
}

.home-login-register {
  display: flex;
  align-items: center;
  width: 13%;
  justify-content: space-between;
  padding-right: 20px;
}

#login-button {
  background-color: #53352d;
  color: #ffffff;
  width: 150px;
  height: 35px;
  border: 1px;
  border-radius: 10px;
  font-size: 23px;
}

#register-button {
  background-color: #53352d;
  color: #ffffff;
  width: 150px;
  height: 35px;
  border: 1px;
  border-radius: 10px;
  font-size: 23px;
}

#return-button {
  background-color: #53352d;
  color: #ffffff;
  width: 150px;
  height: 35px;
  border: 1px;
  border-radius: 10px;
  font-size: 15px;
}

#logout-button {
  background-color: #53352d;
  color: #ffffff;
  width: 150px;
  height: 35px;
  border: 1px;
  border-radius: 10px;
  font-size: 23px;
}

#solo-register-button {
  background-color: #53352d;
  color: #ffffff;
  width: 150px;
  height: 35px;
  border: 1px;
  border-radius: 10px;
  font-size: 23px;
  margin-top: 30px;
  margin-right: 50px;
}

#solo-login-button {
  background-color: #53352d;
  color: #ffffff;
  width: 150px;
  height: 35px;
  border: 1px;
  border-radius: 10px;
  font-size: 23px;
  margin-top: 30px;
  margin-right: 50px;
}

.user-buttons {
  display: flex;
  align-items: center;
  width: 13%;
  justify-content: space-between;
  padding-right: 20px;
}
