.bookshelf-title {
  background: #f4f2e9;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#babels-shelf-title {
  font-size: 50px;
}

.page-container {
  /* position: relative; */
  /* min-height: 100vh; */
  display: flex;
  flex-direction: row;
  max-width: 1300px;
  justify-content: space-between;
}

.content-wrap {
  /* padding-bottom: 2.5rem; */
}

.bookshelf-img {
  height: 150px;
  width: 100px;
}
