.myshelf-title {
  background: #f4f2e9;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#myshelf-message {
  font-size: 50px;
}

.myshelf-container {
  padding: 0 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 1300px;
  justify-content: space-between;
  margin: 100px auto;
}

.myshelf-img {
  height: 150px;
  width: 100px;
}

#myshelf-delete-button {
  width: 100px;
  height: 25px;
  background-color: #53352d;
  color: #ffffff;
  border: 1px;
  border-radius: 4px;
}
